/* Sorgt dafür dass die Hindernisse nur innerhalb des Game-Rahmen sichtbar ist */
*{ 
    overflow-x: hidden;
}

#game { 
    width: 750px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden; /* Scrollen ausserhalb des Spielrahmens verhindern */
    position: relative; /* Optimierte Positionierung des Hintergrunds */
    background-size: cover; /* Hintergrundbild an den Spielrahmen anpassen */
    background-position: center; /* Hintergrundbild zentrieren */
    margin-bottom: 20px; /* Abstand unter dem Spielbereich */
}

/* Header-Stil */
#header {
    margin-top: 25px; /* Abstand über dem Header-Bild */
    margin-bottom: 25px; /* Überlappung, um es 50px über dem Spielrahmen zu positionieren */
    display: flex;
    justify-content: center; /* Zentriert den Header-Inhalt */
    width: 100%; /* Breite auf 100% setzen, damit es zentriert bleibt */
}

#header img {
    width: 40%; /* Verkleinert das Bild auf 40% der ursprünglichen Größe */
    height: auto;
}

#start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;  /*Damit der Startbildschirm in der Ebene über den Elementen des Spiels ist */
}

/* Animation des Hintergrunds */
@keyframes scrollBackground {
    from {
        background-position: 0 0; /* Startposition */
    }
    to {
        background-position: 100% 0; /* Schlussposition */
    }
}

/* Standard-Hintergrundgestaltung */
#game::before {
    content: "";
    position: absolute; /* Positionieren relative zum Spielrahmen */
    top: 0;
    left: 0;
    width: 750px; 
    height: 300px;
    background-repeat: repeat-x; /* Nor horizontal wiederholen */
    animation: scrollBackground 3s linear infinite; /* Anwendung der ScrollBackground Animation*/
}

/* Hintergrund für Schwierigkeit Easy */
#game.easy::before {
    background-image: url(nightcity_BG.png);
}

/* Hintergrund für Schwierigkeit Normal */
#game.normal::before {
    background-image: url(Pyramiden_BG.png);
}

/* Hintergrund für Schwierigkeit Hard */
#game.hard::before {
    background-image: url(steppe_BG.png);
}

/* Gestaltung des Spielcharacters */
#character {
    width: 85px;
    height: 75px;
    position: relative;
    top: 215px;
    left: 95px ;
}

/* Definiert wie hoch der Spielcharacter 'springt' */
@keyframes jump {
    0%{top: 210px;}
    30%{top: 120px;}
    70%{top: 120px;}
    100%{top: 210px;}
}

/* Klasse definieren, welche die jump animation oben ausführt 
Wird mit javascript dann dem character hinzugefügt, wenn man eine Taste klickt */
.animate-jump-easy {
    animation: jump 500ms linear;
}

.animate-jump-normal {
    animation: jump 300ms linear;
}

/*Gestaltung des Hindernis-Elements*/
#obstacle {
    width: 50px;
    height: 50px;
    position: relative;
    top: 210px;
    left: 720px;
}

#secondobstacle {
    width: 70px;
    height: 50px;
    position: relative;
    top: 210px;
    left: 720px;
}

/*Bestimmt, dass das Hindernis bei 750px startet und sich bis nach -75px nach links verschiebt */
@keyframes obstacle {
    0%{left: 750px;}
    100%{left: -75px;}
}

.animate-easy {    
    animation: obstacle 2s infinite linear;  
}

.animate-normal {
    animation: obstacle 1s infinite linear;
}


/* Gestaltung der Auswahl der Schwierigkeitslevel */
#difficulty-level {
    width: 750px;
    height: auto;
    margin: auto;
    font-family: 'Arial Rounded MT', sans-serif;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.radio-buttons {
    display: flex;
}

.radio-buttons input[type="radio"] {
    display: none;
}

label, button {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 5px;
}

input[type="radio"]:checked + label, button {
    background-color: black;
    color: white
}
/* Ende Gestaltung der Auswahl der Schwierigkeitslevel */


/* Start Gestaltung der Namenseingabe und Scoreboard */
button {
    font-family: inherit;
    font-size: 24px; /* Größere Schriftgröße */
    background-color: red; /* Hintergrundfarbe rot */
    color: white; /* Schriftfarbe weiß */
    border: none; /* Entferne den Rahmen */
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 15px 30px; /* Größere Polsterung */
    margin: 10px; /* Abstand um den Button herum */
    cursor: pointer; /* Mauszeiger ändern beim Überfahren */
    transition: background-color 0.3s; /* Sanfter Übergang der Hintergrundfarbe */
}

button:hover {
    background-color: darkred; /* Hintergrundfarbe bei Hover */
}

#instruction {
    color: red;
    margin: 10px;
}

.hide {
    display: none;
}

#player-name {
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
}

#score-board {
    width: 750px;
    margin: 20px auto;
    font-family: 'Arial Rounded MT', sans-serif;
}

#score-board h2 {
    text-align: center;
}

#high-scores {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse; /* Entfernt Abstände zwischen Tabellenzellen */
    text-align: center; /* Zentriert den Text */
}

#high-scores th, #high-scores td {
    border: 1px solid black; /* Fügt einen Rahmen um die Zellen hinzu */
    padding: 10px; /* Fügt Polsterung innerhalb der Zellen hinzu */
}

#high-scores th {
    background-color: #f2f2f2; /* Hellgrauer Hintergrund für Tabellenüberschriften */
}

/* Ende Gestaltung der Namenseingabe und Scoreboard */

#game-over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;  /*Damit der Game over Screen die höchste Ebene hat und über den anderen Elementen angezeigt wird */
}